<!-- Collection Controls -->
<div class="collection-controls d-flex justify-content-center p-3">
    {% if release_id is not defined or not release_id %}
        <div class="btn-group btn-group-sm mr-2 p-1" role="group" aria-label="Pagination">
            <a class="btn btn-primary text-uppercase {{ page == 1 ? 'disabled' : '' }}" 
               href="{{ page_url(page - 1, {'folder_id': folder_id, 'sort_by': sort_by, 'order': order}) }}" 
               tabindex="-1">&#12298;</a>
            
            {% if collection is defined %}
                {% for x in 1..collection.pagination.pages %}
                    <a class="btn btn-primary text-uppercase {{ page == x ? 'active disabled' : '' }}"
                       href="{{ page_url(x, {'folder_id': folder_id, 'sort_by': sort_by, 'order': order}) }}">{{ x }}</a>
                {% endfor %}
            {% endif %}

            <a class="btn btn-primary text-uppercase {{ page == collection.pagination.pages ? 'disabled' : '' }}"
               href="{{ page_url(page + 1, {'folder_id': folder_id, 'sort_by': sort_by, 'order': order}) }}"
               tabindex="-1">&#12299;</a>
        </div>
        
        <!-- Command palette will be inserted here by JavaScript -->
    {% else %}
        <div class="btn-group btn-group-sm mr-2 p-1" role="group">
            <button type="button" class="btn btn-primary text-uppercase" onclick="history.go(-1)">Back to the Collection</button>
        </div>
    {% endif %}
</div>