<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.8">
    <title>{% block title %}{% if releaseInfo is defined %}{{ releaseInfo.title }} by {{ releaseInfo.artists[0].name|clean_artist_name }} | {% endif %}My Discogs Collection{% endblock %}</title>
    
    <!-- Local JS resources -->
    <script src="/vendor/jquery/jquery-3.5.1.min.js"></script>
    <script src="/vendor/popper/popper-2.9.2.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap-5.2.2.bundle.min.js"></script>
    
    <!-- Local CSS resources -->
    <link href="/vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap-5.2.2.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap-night-5.1.3.min.css" rel="stylesheet">
    
    <!-- Application CSS -->
    <link href="/css/modern-pagination.css?v={{ 'now'|date('U') }}" rel="stylesheet">
    <link href="/css/theme.css?v={{ 'now'|date('U') }}" rel="stylesheet">
    <link href="/css/cards.css?v={{ 'now'|date('U') }}" rel="stylesheet">
    <link href="/css/tables.css?v={{ 'now'|date('U') }}" rel="stylesheet">
    <link href="/css/carousel.css?v={{ 'now'|date('U') }}" rel="stylesheet">
    <link href="/css/forms.css?v={{ 'now'|date('U') }}" rel="stylesheet">
    <link href="/css/profile.css?v={{ 'now'|date('U') }}" rel="stylesheet">
    <link href="/css/banner.css?v={{ 'now'|date('U') }}" rel="stylesheet">
    <link href="/css/landing.css?v={{ 'now'|date('U') }}" rel="stylesheet">
    <link href="/css/password-requirements.css?v={{ 'now'|date('U') }}" rel="stylesheet">
    <link href="/css/release.css?v={{ 'now'|date('U') }}" rel="stylesheet">
    <link href="/css/modern-header.css?v={{ 'now'|date('U') }}" rel="stylesheet">
    <link href="/css/settings.css?v={{ 'now'|date('U') }}" rel="stylesheet"
    
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        {% block banner %}
            {% include 'partials/modern_header.html.twig' %}
            
            {% if collection is defined %}
                {% block nav %}
                    {% include 'partials/top_nav_filter_bar.html.twig' %}
                {% endblock %}
            {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}

        {% if collection is defined %}
            <div class="collection-controls d-flex justify-content-center p-3">
                {% include 'partials/pagination.html.twig' %}
            </div>
        {% endif %}

        {% block footer %}
            {% include 'partials/footer.html.twig' %}
        {% endblock %}
    </div>

    {% block javascripts %}{% endblock %}

    <!-- Password Validation -->
    <script src="/js/password-validation.js"></script>

    <!-- Lazy Loading -->
    <script src="/js/lazy-loader.js"></script>
    
    <!-- Current state data for command palette -->
    {% if folder_id is defined %}
        <div hidden data-current-folder="{{ folder_id }}"></div>
    {% endif %}
    {% if page is defined %}
        <div hidden data-current-page="{{ page }}"></div>
    {% endif %}
    {% if sort_by is defined %}
        <div hidden data-current-sort="{{ sort_by }}"></div>
    {% endif %}
    {% if order is defined %}
        <div hidden data-current-order="{{ order }}"></div>
    {% endif %}
    {% if per_page is defined %}
        <div hidden data-per-page="{{ per_page }}"></div>
    {% endif %}
    
    <!-- Folder data for command palette -->
    {% if folders is defined %}
        {% for folder in folders.folders %}
            {% if folder.count >= 1 %}
                <div hidden 
                     data-folder-id="{{ folder.id }}"
                     data-folder-name="{{ folder.name }}"
                     data-folder-count="{{ folder.count }}">
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html> 