{% extends "layouts/base.html.twig" %}

{% block title %}{{ app_name }} - {{ releaseInfo.title }}{% endblock %}

{% block content %}
<div class="row">
    {# Left Column - Basic Info #}
    <div class="col-xl-4 col-lg-6 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm">
            <div class="card h-100">
                {% if releaseInfo.images|length > 0 %}
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false">
                        <div class="carousel-inner">
                            {% for image in releaseInfo.images %}
                                <div class="carousel-item {{ loop.first ? 'active' }}">
                                    <img class="d-block w-100" 
                                         src="{{ release_image(image.resource_url, releaseInfo.id, loop.index0) }}" 
                                         alt="{{ image.type }}">
                                </div>
                            {% endfor %}
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                {% endif %}

                <div class="card-body">
                    <div class="p-1 table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row" style="width:1%"><i class="fa-fw fa-solid fa-quote-right"></i></th>
                                    <td style="width:1%">Title</td>
                                    <td>{{ releaseInfo.title }}</td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="fa-fw fa-solid fa-people-group"></i></th>
                                    <td>Artist</td>
                                    <td>{{ releaseInfo.artists|map(a => a.name|clean_artist_name)|join(', ') }}</td>
                                </tr>
                                <tr>
                                    <th scope="row"><i class="fa-fw fa-solid fa-calendar-days"></i></th>
                                    <td>Released</td>
                                    <td>{{ releaseInfo.released|default('?') }}</td>
                                </tr>
                                {% if releaseInfo.series %}
                                    <tr>
                                        <th scope="row"><i class="fa-fw fa-solid fa-calendar-days"></i></th>
                                        <td>Series</td>
                                        <td>{{ releaseInfo.series[0].name }}</td>
                                    </tr>
                                {% endif %}
                                {% if releaseInfo.labels %}
                                    <tr>
                                        <th scope="row"><i class="fa-fw fa-solid fa-building"></i></th>
                                        <td>Label</td>
                                        <td>
                                            {% for label in releaseInfo.labels %}
                                                {{ label.name }}{% if label.catno %}, {{ label.catno }}{% endif %}
                                                {% if not loop.last %}<br>{% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if releaseInfo.formats %}
                                    <tr>
                                        <th scope="row"><i class="fa-fw fa-solid fa-compact-disc"></i></th>
                                        <td>Format</td>
                                        <td>
                                            {% for format in releaseInfo.formats %}
                                                {% if format.qty > 1 %}{{ format.qty }} x {% endif %}
                                                <b>{{ format.name }}</b>
                                                {% if format.descriptions %}, {{ format.descriptions|join(', ') }}{% endif %}
                                                {% if format.text %}, <i>{{ format.text }}</i>{% endif %}
                                                <br>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if releaseInfo.genres %}
                                    <tr>
                                        <th scope="row"><i class="fa-fw fa-solid fa-bars-staggered"></i></th>
                                        <td>Genres</td>
                                        <td>{{ releaseInfo.genres|join(', ') }}</td>
                                    </tr>
                                {% endif %}
                                {% if releaseInfo.styles %}
                                    <tr>
                                        <th scope="row"><i class="fa-fw fa-solid fa-bars-staggered"></i></th>
                                        <td>Styles</td>
                                        <td>{{ releaseInfo.styles|join(', ') }}</td>
                                    </tr>
                                {% endif %}

                                {% if myReleaseInfo.releases[0].notes %}
                                    {% for note in myReleaseInfo.releases[0].notes %}
                                        <tr>
                                            <th>
                                                <i class="fa-fw fa-solid 
                                                    {{- note.field_id == 1 ? 'fa-compact-disc' : 
                                                       note.field_id == 2 ? 'fa-square-full' : 
                                                       'fa-clipboard' -}}"></i>
                                            </th>
                                            <td>{{ note.field_id == 1 ? 'Media' : 
                                                   note.field_id == 2 ? 'Jacket' : 
                                                   'Notes' }}</td>
                                            <td>{{ note.value }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <a class="btn btn-secondary btn-sm" href="https://www.discogs.com/release/{{ releaseInfo.id }}">Discogs <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    <a class="btn btn-secondary btn-sm" href="{{ releaseInfo.resource_url }}">JSON <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
    </div>

    {# Right Column - Detailed Info #}
    <div class="col-xl-8 col-lg-6 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm">
            <div class="accordion" id="accordionExample">
                {% if releaseInfo.notes %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNotes" aria-expanded="true">
                                Notes
                            </button>
                        </h2>
                        <div id="collapseNotes" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <table class="table table-striped">
                                    <tr><td>{{ releaseInfo.notes|clean_notes|raw }}</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if releaseInfo.tracklist %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTracklist" aria-expanded="true">
                                TrackList
                            </button>
                        </h2>
                        <div id="collapseTracklist" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <table class="table table-striped">
                                    <tr>
                                        <th data-align="left" style="width:1%">#</th>
                                        <td>Track Name</td>
                                        <td style="width:1%">m:s</td>
                                    </tr>
                                    {% for track in releaseInfo.tracklist %}
                                        <tr>
                                            <th data-align="left" style="width:1%">{{ track.position }}:  </th>
                                            <td data-align="left">
                                                {{ track.title }}
                                                {% if track.extraartists %}
                                                    <br>
                                                    {% for artist in track.extraartists %}
                                                        {{ artist.role }} <strong>{{ artist.name|clean_artist_name }}</strong>
                                                        {%- if not loop.last %}, {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td data-align="left" style="width:1%">{{ track.duration }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if releaseInfo.extraartists %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCredits">
                                Credits
                            </button>
                        </h2>
                        <div id="collapseCredits" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    {% for artist in releaseInfo.extraartists %}
                                        <li class="list-group-item">
                                            <strong>{{ artist.role }}:</strong> 
                                            {{ artist.name|clean_artist_name }}
                                            {% if artist.tracks %} ({{ artist.tracks }}){% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if releaseInfo.companies %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCompanies">
                                Companies
                            </button>
                        </h2>
                        <div id="collapseCompanies" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <ul class="list-group list-group-flush">
                                    {% for company in releaseInfo.companies %}
                                        <li class="list-group-item">
                                            <strong>{{ company.entity_type_name }}</strong> 
                                            {{ company.name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if releaseInfo.identifiers %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIdentifiers">
                                Identifiers
                            </button>
                        </h2>
                        <div id="collapseIdentifiers" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <table class="table table-striped">
                                    {% for identifier in releaseInfo.identifiers %}
                                        <tr>
                                            <td data-align="left">{{ identifier.type }}</td>
                                            <td>{{ identifier.value }}</td>
                                            <td>{{ identifier.description|default('') }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 